# DT Assignment

# Data Loading

In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop("RID",axis=1, inplace = True) #RID는 그냥 순서라서 삭제
pd_data

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

## Gini 계수를 구하는 함수 만들기

<img src="gini.png" width="200">

- Input: df(데이터), label(타겟변수명)
- 해당 결과는 아래와 같이 나와야 합니다.

- 지니계수는 데이터의 통계적 분산 정도를 정량화 해서 표현한 값이다.
- 어떤 집합의 gini index가 높을수록 그 집단의 데이터가 분산되어 있음을 확인할 수 있다.

In [3]:
def get_gini(df, label):
    
    label_list = df[label].unique()
    len_arr = []
    
    for i in label_list:
        len_arr.append((len(df[df[label]==i])/len(df))**2)
        
    gini = 0
    for i in range(len(len_arr)):
        gini += len_arr[i]
        
    return 1-gini

In [4]:
get_gini(pd_data,'class_buys_computer')

0.4591836734693877

In [5]:
get_gini(pd_data,'class_buys_computer')

0.4591836734693877

## Feature의 Class를 이진 분류로 만들기
- ex) {A,B,C} -> ({A}, {B,C}), ({B}, {A,C}), ({C}, {A,B})

- Input: df(데이터), attribute(Gini index를 구하고자 하는 변수명)
- Income 변수를 결과로 출력해주세요.

In [6]:
from itertools import combinations

def get_binary_split(df, attribute):
    print('get_binary_split')
    
    uniques = list(df[attribute].unique()) # 속성 데이터 고유값들을 담은 리스트 
    result = []
    
    for i in range(len(uniques)-1):
        for j in list(combinations(uniques, i+1)):
            result.append(list(j))
    
    return result

In [7]:
get_binary_split(pd_data,'income')

get_binary_split

[['high'],
 ['medium'],
 ['low'],
 ['high', 'medium'],
 ['high', 'low'],
 ['medium', 'low']]

In [8]:
get_binary_split(pd_data,'income')

get_binary_split

[['high'],
 ['medium'],
 ['low'],
 ['high', 'medium'],
 ['high', 'low'],
 ['medium', 'low']]

## 모든 이진분류의 경우의 Gini index를 구하는 함수 만들기
- 위에서 완성한 두 함수를 사용하여 만들어주세요!
- 해당 결과는 아래와 같이 나와야 합니다.

In [9]:
def get_attribute_gini_index(df, attribute, label):
    result = {}
    binary_split = get_binary_split(df, attribute) 
    unique = df[attribute].unique()
    n = len(df)
    for i in binary_split :
        temp = pd.DataFrame()
        for k in i:
            temp = pd.concat([temp,df[df[attribute]==k]])
        temp2 = pd.DataFrame()
        for k in unique:
            if k in i:
                continue
            temp2 = pd.concat([temp2, df[df[attribute]==k]])
        #print(temp2[attribute].unique())
        gini1 = get_gini(temp,label)
        gini2 = get_gini(temp2,label)
        
        gini = (len(temp2)/n)*gini2 + (len(temp)/n)*gini1
        
        key = '_'.join(i)
        result[key]=gini
    
    return result

In [10]:
get_attribute_gini_index(pd_data, 'income', 'class_buys_computer')

get_binary_split

{'high': 0.4428571428571429,
 'medium': 0.4583333333333333,
 'low': 0.45,
 'high_medium': 0.45,
 'high_low': 0.4583333333333333,
 'medium_low': 0.4428571428571429}

- 여기서 가장 작은 Gini index값을 가지는 class를 확인합니다.

In [11]:
min(get_attribute_gini_index(pd_data, 'income', 'class_buys_computer').items())

get_binary_split

('high', 0.4428571428571429)

In [12]:
min(get_attribute_gini_index(pd_data, 'income', 'class_buys_computer').items())

get_binary_split

('high', 0.4428571428571429)

In [13]:
min(get_attribute_gini_index(pd_data, 'income', 'class_buys_computer').items())[0]

get_binary_split

'high'

In [14]:
min(get_attribute_gini_index(pd_data, 'income', 'class_buys_computer').items())[0]

get_binary_split

'high'

## 분류를 하는 데 가장 중요한 변수를 선정하고, 해당 변수의 Gini index를 제시해주세요.
- 모든 변수에 대한 Gini index(최소)를 출력해주세요.
- 해당 결과는 아래와 같이 나와야 합니다.

In [15]:
features

NameError: name 'features' is not defined

In [ ]:
# 변수명 중 마지막에 위치한 label 컬럼 얻기
label = pd_data.columns[-1]
# label 변수를 제외한 변수명 얻기
features = list(pd_data.columns[:-1])

# 각 변수를 대상으로 반복문 수행(해당 변수 중 가장 낮은 gini 계수와 변수 출력)
for feature in features:
    print('Minimum gini index of',feature, ':', min(get_attribute_gini_index(pd_data, feature, 'class_buys_computer').items())[1] )

In [ ]:
# 변수명 중 마지막에 위치한 label 컬럼 얻기
label = pd_data.columns[-1]
# label 변수를 제외한 변수명 얻기
features = list(pd_data.columns[:-1])

# 각 변수를 대상으로 반복문 수행(해당 변수 중 가장 낮은 gini 계수와 변수 출력)
for feature in features:

    ???

gini index가 가장 작게 나온 'age'를 가장 중요한 변수로 선정합니다.

이어서 해당 변수의 이진 분류된 각 class에 대해 Gini index도 계산합니다.

In [ ]:
get_attribute_gini_index(pd_data, 'age', 'class_buys_computer')

In [ ]:
get_attribute_gini_index(pd_data, 'age', 'class_buys_computer')

'age' 변수에서 gini index가 가장 작게 나온 'middle_aged' class를 선정합니다.

## Entropy 를 구하는 함수 만들기

<img src = https://miro.medium.com/max/1122/0*DkWdyGidNSfdT1Nu.png width = "350">

In [ ]:
from math import log2

In [ ]:
log2(10)

In [16]:
from math import log2

def getEntropy(df, feature) :
    res = 0
    arr = df[feature].unique()
    for i in range(0,len(arr)):
        pi = len(df[df[feature]==arr[i]])/len(df)
        res -= pi*log2(pi)
    return res

In [17]:
getEntropy(pd_data, "class_buys_computer")

0.9402859586706311

In [18]:
getEntropy(pd_data, "class_buys_computer")

0.9402859586706311

In [25]:
# 가장 중요한 변수로 선정된 목표변수를 제외한 다른 변수들에 대해
# 각 칼럼별로 엔트로피를 구해주는 함수를 작성해주세요.

def getGainA(df, feature) :
        
    result = {}
    col_list = df.columns
    
    for col in col_list:
        entropy = 0
        if col == feature:
            continue
        for i in df[col].unique():
            w = len(df[df[col] == i])/len(df)
            entropy += w * getEntropy(df[df[col]==i],feature)
        result[col]=getEntropy(df,feature) - entropy
        
    return result

In [26]:
getGainA(pd_data, "class_buys_computer")

{'age': 0.24674981977443933,
 'income': 0.02922256565895487,
 'student': 0.15183550136234159,
 'credit_rating': 0.04812703040826949}